<div class="multiple-dropdown" style="width:{{width}}" {{action 'Collapse' on="mouseLeave" preventDefault=false}}>
  <div class="multiple-dropdown-field block {{if isExpanded "rot-arrow"}}" style="width:{{width}}" {{action 'toggleExpand' preventDefault=false}}>
    <div class="multiple-dropdown-checked" style="width:calc({{width}} - 5px)">
      {{#if selected}}
        {{selected.name}} {{selected.surname}}
      {{else}}
        {{any}}
      {{/if}}
    </div>
  </div>
  <div class="multiple-dropdown-options {{unless isExpanded "hidden"}}" style="width: {{options-width}}">
    <div class='no-check' {{action 'any'}}>
      {{any}}
    </div>
    {{#each agents as |agent|}}
      <div class='no-check' {{action 'toggleLabel' agent}}>
        {{agent.name}} {{agent.surname}}
      </div>
    {{/each}}
  </div>
</div>