<div style='width: calc(100% - 10px); padding: 0 15px; margin: 10px 0 10px 0; overflow-y: auto'>
  <p class='text-left text-20'>{{callback.title}}</p>
  <small>{{date callback.date}}</small><br>
  <b>{{callback.phone}}, {{callback.name}}</b><br>
  <p class='text-left'>{{callback.message}}</p>
</div>
