<div class='accordion-container {{if expanded 'expanded'}}'>
  <div class='accordion-title' {{action 'toggleExpand'}}>
    {{#if expanded}}
      -
    {{else}}
      +
    {{/if}}
    {{title}}
  </div>
  <div class='accordion-body' style='{{if (and expanded minHeight) 'min-height: 500px'}}'>{{yield}}</div>
</div>