<div class="multiple-dropdown" style="width:{{width}}" {{action 'Collapse' on="mouseLeave" preventDefault=false}}>
  <div class="multiple-dropdown-field blockk {{if isExpanded "rot-arrow"}}" style="width:{{width}}" {{action 'toggleExpand' preventDefault=false}}>
    <div class="multiple-dropdown-checked" style="width:calc({{width}} - 5px)">
      {{#if selected}}
        {{selected}}
      {{else}}
        {{any}}
      {{/if}}
    </div>
  </div>
  <div class="custom-dropdown-options {{unless isExpanded "hidden"}}" style="width: {{options-width}}; {{optionsAlign}}">
    <div class='custom-label' {{action 'any'}} style='width: {{label-width}}'>
      {{any}}
    </div>
    {{#each options as |Unit|}}
      <div class='custom-label' {{action 'toggleLabel' Unit}} style='width: {{label-width}}'>
        {{Unit}}
      </div>
    {{/each}}
  </div>
</div>