<div class='rental-input' style='overflow: auto'>
  {{input type="text" placeholder='Имя' value=agent.name}}
  {{input type="text" placeholder='Фамилия' value=agent.surname}}
  {{input type="text" placeholder='Отчество' value=agent.middlename}}<br>
+7{{input type='number' placeholder='Телефон' value=agent.phone}}<br>
  {{input type="text" placeholder='email' value=agent.email}}
</div>