<div class="index-calc">
  <div class="container">
    <a {{action 'toggleRate'}}>Оценить объект</a>
    <a {{action 'toggleMortgage'}}>Рассчитать ипотеку</a>
    <button class="right w-300">Сопровождение сделки</button>
  </div>
</div>

<div class="index-rate {{if rateHidden "h-0"}}">
  <div class="container">
    вбейте каких-нибудь данных...
  </div>
</div>

<div class="index-mortgage {{if mortgageHidden "h-0"}}">
  <div class="container">
    <div class="block" style="height: 235px; margin: 15px;">
      <div style="width: 55%; float: left; padding: 15px 40px">
        Первый взнос {{payment}}%   {{slider-control width="450px" min=0 max=100 value=payment step=1}} <br><br>
        Срок кредита {{term}} {{numerals-counter term 'год' 'года' 'лет'}}   {{slider-control width="450px" min=0 max=15 value=term step=1}} <br><br>
        Процентная ставка {{rate}}% {{slider-control width="450px" min=0 max=100 value=rate step=1}}
      </div>
      <div style="width: 45%; float: left; padding: 15px; text-align: center">
        <br>
        Цена недвижимости: {{input type="number" name="ttl" value=total min='0'}} ₽<br> <br>
        Ежемесячный платеж: {{number-spaces monthly}} ₽<br><br>
        <div style="width: 50%; float: left; padding: 15px">
          Размер кредита:<br> {{number-spaces credit}} ₽<br>
        </div>
        <div style="width: 50%; float: left; padding: 15px">
          Первый взнос:<br> {{number-spaces first}} ₽
        </div>
      </div>
    </div>
  </div>
</div>
