<div class="index-search">  
  <div class="index-search-1"></div>
  <div class="index-search-2"></div>
  <div class="index-search-3"></div>
  <div class="index-search-4"></div>
  <div class="index-search-1"></div>
  <div class="container">
    <div class="container-search-tab">
      {{radio-button classs='index-radio' checkedClass='index-radio-checked' checked=buyCheck    label='КУПИТЬ'     onCheck=(action 'buy')}}
      {{radio-button classs='index-radio' checkedClass='index-radio-checked' checked=sellCheck   label='ПРОДАТЬ'    onCheck=(action 'sell')}}
      {{radio-button classs='index-radio' checkedClass='index-radio-checked' checked=rentCheck   label='АРЕНДОВАТЬ' onCheck=(action 'rent')}}
      {{radio-button classs='index-radio' checkedClass='index-radio-checked' checked=toRentCheck label='СДАТЬ'      onCheck=(action 'toRent')}}
    </div>
    <div class="search {{if isHidden "test"}}">
      <div class="container-wide" style="padding-bottom: 10px">
        <p class='text-18' style="margin-bottom: -7px; margin-left: -420px"><b>недвижимость</b></p>
        {{#if buyCheck}}
          {{#link-to 'rentals' (query-params type='sell' category='living')}}<b>ЖИЛАЯ</b>{{/link-to}}
          {{#link-to 'rentals' (query-params type='sell' category='new')}}<b>СТРОЯЩАЯСЯ</b>{{/link-to}}
          {{#link-to 'rentals' (query-params type='sell' category='commerical')}}<b>КОММЕРЧЕСКАЯ</b>{{/link-to}}
          {{#link-to 'rentals' (query-params type='sell' category='country')}}<b>ЗАГОРОДНАЯ</b>{{/link-to}}
        {{/if}}
        {{#if sellCheck}}
          <a {{action popup}}><b>ЖИЛАЯ</b></a>
          <a {{action popup}}><b>СТРОЯЩАЯСЯ</b></a>
          <a {{action popup}}><b>КОММЕРЧЕСКАЯ</b></a>
          <a {{action popup}}><b>ЗАГОРОДНАЯ</b></a>
        {{/if}}
        {{#if rentCheck}}
          {{#link-to 'rentals' (query-params type='rent' category='living')}}<b>ЖИЛАЯ</b>{{/link-to}}
          {{#link-to 'rentals' (query-params type='rent' category='commerical')}}<b>КОММЕРЧЕСКАЯ</b>{{/link-to}}
          {{#link-to 'rentals' (query-params type='rent' category='country')}}<b>ЗАГОРОДНАЯ</b>{{/link-to}}
        {{/if}}
        {{#if toRentCheck}}
          <a {{action popup}}><b>ЖИЛАЯ</b></a>
          <a {{action popup}}><b>КОММЕРЧЕСКАЯ</b></a>
          <a {{action popup}}><b>ЗАГОРОДНАЯ</b></a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
