<div class="index-search">  
  <div class="index-search-1"></div>
  <div class="index-search-2"></div>
  <div class="index-search-3"></div>
  <div class="index-search-4"></div>
  <div class="index-search-1"></div>
  <div class="container">
    <div class="container-search-tab">
      <input type="radio" id="1" name="selector" checked="checked" {{action 'setVisible' preventDefault=false}}>
      <label for="1"><b>КУПИТЬ</b></label>
      <input type="radio" id="2" name="selector" {{action 'setVisible' preventDefault=false}}>
      <label for="2"><b>ПРОДАТЬ</b></label>
      <input type="radio" id="3" name="selector" {{action 'setInvisible' preventDefault=false}}>
      <label for="3"><b>АРЕНДОВАТЬ</b></label>
      <input type="radio" id="4" name="selector" {{action 'setInvisible' preventDefault=false}}>
      <label for="4"><b>СДАТЬ</b></label>
    </div>
    <div class="search {{if isHidden "test"}}">
      <div class="container-wide" style="padding-bottom: 10px">
      <p style="margin-bottom: -7px; margin-left: -420px">недвижимость</p>
        {{#link-to 'rentals'}}<b>ЖИЛАЯ</b>{{/link-to}}
        {{#unless isHidden}}
          {{#link-to 'rentals'}}<b>СТРОЯЩАЯСЯ</b>{{/link-to}}
        {{/unless}}
        {{#link-to 'rentals'}}<b>КОММЕРЧЕСКАЯ</b>{{/link-to}}
        {{#link-to 'rentals'}}<b>ЗАГОРОДНАЯ</b>{{/link-to}}
      </div>
    </div>
  </div>
</div>
