<div class="multiple-dropdown" style="width:{{width}}" {{action 'Collapse' on="mouseLeave"}}>
  <div class="multiple-dropdown-field blockk {{if isExpanded "rot-arrow"}}" style="width:{{width}}" {{action 'toggleExpand'}}>
    <div class="multiple-dropdown-checked" style="width:calc({{width}} - 5px)">
      {{#if anyFlag}}
        Любой
      {{else}}
        {{checkedOptions}}
      {{/if}}
    </div>
  </div>
  
  <div class="multiple-dropdown-options halo {{unless isExpanded "hidden"}}" style="width: {{options-width}}">
    {{custom-checkbox label='Любой' checked=anyFlag commit=(action 'any')}}
    {{#each options as |option|}}
      {{custom-checkbox label=option checked=(if-in checkedOptions option) commit=(action 'toggleLabel' option)}}
    {{/each}}
  </div>
</div>