<div class="multiple-dropdown" style="width:{{width}}" {{action 'Collapse' on="mouseLeave" preventDefault=false}}>
  <div class="multiple-dropdown-field block {{if isExpanded "rot-arrow"}}" style="width:{{width}}" {{action 'toggleExpand' preventDefault=false}}>
    <div class="multiple-dropdown-checked" style="width:calc({{width}} - 5px)">
      {{#if anyFlag}}
        Любой
      {{else}}
        {{checkedOptions}}
      {{/if}}
    </div>
  </div>
  <div class="multiple-dropdown-options {{unless isExpanded "hidden"}}" style="width: {{width}}">
      <label for="any" {{action 'any'}}>
        {{input type="checkbox" checked=anyFlag id="any"}}
        Любой
      </label>
      {{#each options as |option|}}
        <label for="{{option}}" {{action 'toggleLabel' option}}>
          {{input type="checkbox" checked=(or (if-in checkedOptions option) anyFlag) id=option}}
          {{option}}
        </label>
      {{/each}}
  </div>
</div>