<div class="multiple-dropdown" style="width:{{width}}" {{action 'Collapse' on="mouseLeave" preventDefault=false}}>
  <div class="multiple-dropdown-field block {{if isExpanded "rot-arrow"}}" style="width:{{width}}" {{action 'toggleExpand' preventDefault=false}}>
    <div class="multiple-dropdown-checked" style="width:calc({{width}} - 5px)">
      {{#if anyFlag}}
        Любой
      {{else}}
        {{checkedOptions}}
      {{/if}}
    </div>
  </div>
  <div class="multiple-dropdown-options {{unless isExpanded "hidden"}}" style="width: {{width}}">
      {{custom-checkbox label='Любой' checked=anyChech}}

      {{#each options as |option index|}}
        {{custom-checkbox label=option checked=checkedBool.[index]}}
      {{/each}}
  </div>
</div>