<div class='rental-input' style='overflow: auto'>
  {{input value=price placeholder='Цена' type='number'}}<br><br>

  {{input value=name placeholder='Имя'}}<br>
  +7{{input type='number' value=phone placeholder='Телефон'}}<br>
  {{input value=email placeholder='email'}}<br>
</div>

<div>
  {{custom-dropdown options=typeOptions checked=typeChecked width="250px" any='Вид сделки' commit=(action 'commit')}}

  {{#if (eq category 'жилая')}}
    {{custom-dropdown options=livingOptions     checked=livingChecked     width="250px" any='Тип' commit=(action 'commit')}}
  {{/if}}
  {{#if (eq category 'новостройки')}}
    {{custom-dropdown options=newOptions        checked=newChecked        width="250px" any='Тип' commit=(action 'commit')}}
  {{/if}}
  {{#if (eq category 'коммерческая')}}
    {{custom-dropdown options=commericalOptions checked=commericalChecked width="250px" any='Тип' commit=(action 'commit')}}
  {{/if}}
  {{#if (eq category 'загородная')}}
    {{custom-dropdown options=countryOptions    checked=countryChecked    width="250px" any='Тип' commit=(action 'commit')}}
  {{/if}}

  {{#unless (eq category 'загородная')}}
    {{custom-dropdown options=districtCity    checked=districtCityChecked    width='802px' any='Район' commit=(action 'commit')}}
  {{else}}
    {{custom-dropdown options=districtCountry checked=districtCountryChecked width='802px' any='Район' commit=(action 'commit')}}
  {{/unless}}
</div>

Метро


<input type='file' multiple/>
