<div class='rental-input' style='overflow: auto'>
  {{input value=price placeholder='Цена' type='number'}}<br><br>

  {{input value=name placeholder='Имя'}}<br>
  +7{{input type='number' value=phone placeholder='Телефон'}}<br>
  {{input value=email placeholder='email'}}<br><br>

  
  
  {{custom-dropdown options=typeOptions selected=type width="250px" any='Тип сделки' commit=(action 'commit_type')}}

  {{#if (eq type 'купить')}}
    {{custom-dropdown options=categoryBuyOptions  selected=property_type width="250px" any='Тип недвижимости' commit=(action 'commit_property_type')}}
  {{/if}}
  {{#if (eq type 'арендовать')}}
    {{custom-dropdown options=categoryRentOptions selected=property_type width="250px" any='Тип недвижимости' commit=(action 'commit_property_type')}}
  {{/if}}

  {{#if (eq property_type 'жилая')}}
    {{custom-dropdown options=livingOptions     selected=category width="250px" any='Тип'}}
  {{/if}}
  {{#if (eq property_type 'новостройки')}}
    {{custom-dropdown options=newOptions        selected=category width="250px" any='Тип'}}
  {{/if}}
  {{#if (eq property_type 'коммерческая')}}
    {{custom-dropdown options=commericalOptions selected=category width="250px" any='Тип'}}
  {{/if}}
  {{#if (eq property_type 'загородная')}}
    {{custom-dropdown options=countryOptions    selected=category width="250px" any='Тип'}}
  {{/if}}

  <br><br>
  {{#unless (eq property_type 'загородная')}}
    {{custom-dropdown options=districtCity    selected=district width='250px' options-width='802px' any='Район'}}
  {{else}}
    {{custom-dropdown options=districtCountry selected=district width='250px' options-width='802px' any='Район'}}
  {{/unless}}
  
  

  {{#unless (eq property_type 'загородная')}}
    {{input value=metro placeholder='метро' key-up=(action 'metro_filter')}}
    <div class="multiple-dropdown-options {{if (eq metro_options.length 0) "hidden"}}" style="width: 350px">
      {{#each metro_options as |metro_option|}}
        <div class='no-check' style='max-width: 360px' {{action 'toggleMetro' metro_option}}>
          <span style='margin-left: 20px' class="{{metro-logo metro_option}}">{{metro_option}}</span>
        </div>
      {{/each}}
    </div>
  {{/unless}}
  <br>
  {{input value=time_on_transport placeholder='Время на транспорте (в мин)' type='number'}}<br>
  {{input value=time_on_foot      placeholder='Время пешком (в мин)'        type='number'}}<br><br>
  
  {{input value=address placeholder='Адрес (без квартиры)'}}<br>
  {{input value=apartment placeholder='квартира'}}<br><br>
  
  {{#unless (eq property_type 'загородная')}}
    {{input value=area placeholder='Общая площадь' type='number'}}<br>
    {{#unless (eq property_type 'коммерческая')}}
      {{input value=rooms         placeholder='кол-во комнат'   type='number'}}<br>
      {{input value=living_space  placeholder='жилая площадь'   type='number'}}<br>
      {{input value=kitchen_space placeholder='площадь кухни'   type='number'}}<br>
      {{input value=room_space    placeholder='площади комнат'               }}<br>
    {{/unless}}
    {{input value=floor        placeholder='этаж' type='number'}}<br>
    {{input value=floors_total placeholder='всего этажей' type='number'}}<br>
    {{#if (eq type 'купить')}}
      {{custom-dropdown options=buildingTypeOptions selected=building_type width='250px' any='Тип дома'  }}<br>
    {{/if}}
  {{else}}
    {{input value=area          placeholder='площадь дома'   type='number'}}<br>
    {{input value=lot_area      placeholder='площадь участка' type='number'}}<br>
  {{/unless}}
  {{#if (eq type 'купить')}}
    {{custom-dropdown options=dealStatusOptions   selected=deal_status   width='250px' any='Тип продажи'}}<br>
  {{/if}}
  <br>
  {{textarea cols="80" rows="6" placeholder='Описание' value=description}}<br><br>
  
  {{custom-dropdown options=specialOptions selected=special width='250px' any='Показывать на главной'}}<br><br>

  изображения: <input type='file' multiple/><br>
  
  <button {{action 'add'}}>Добавить</button>

</div>




