<article class="listing">
  <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
    <img src="{{rental.image}}" alt="">
  </a>
  <div class="listing-column">
    <span class="{{metro-logo rental.metro}}">{{rental.metro}}</span>
    <small>{{rental.time_on_foot}} пешком</small>
    <span>{{rental.address}}</span>
  </div>
  <div class="listing-column text-center">
    <span>{{rental.rooms}} комнатная</span><br>
    <span>{{rental.category}}</span>
  </div>
  <div class="listing-column">
  </div>
  <div class="listing-column text-right">
    <span class="text-28">{{rental.area}} м²</span><br>
    <span>Кухня: {{rental.kitchen_space}} м²</span><br>
    <span> Жилая: {{rental.living_space}} м²</span>
  </div>
  <div class="listing-column text-right">
    <span>Кухня: {{rental.kitchen_space}} м²</span><br>
    <span> Жилая: {{rental.living_space}} м²</span>
  </div>
</article>