<div class="rentals-search block block-no-top">
    
  <div class="rentals-radio-panel w1">
    {{radio-button classs='rentals-radio radio-left'   checkedClass='rentals-radio-checked' checked=buyCheck        label='Купить'       onCheck=(action 'buy')       }}
    {{radio-button classs='rentals-radio radio-right'  checkedClass='rentals-radio-checked' checked=rentCheck       label='Арендовать'   onCheck=(action 'rent')      }}
  </div>

  <div class="rentals-radio-panel w2 {{if rentCheck "w3"}}">
    {{radio-button classs='rentals-radio radio-left'   checkedClass='rentals-radio-checked' checked=livingCheck     label='Жилая'        onCheck=(action 'living')    }}
    {{#if buyCheck}}
    {{radio-button classs='rentals-radio radio-center' checkedClass='rentals-radio-checked' checked=newCheck        label='Новостройки'  onCheck=(action 'new')       }}
    {{/if}}
    {{radio-button classs='rentals-radio radio-center' checkedClass='rentals-radio-checked' checked=commericalCheck label='Коммерческая' onCheck=(action 'commerical')}}
    {{radio-button classs='rentals-radio radio-right'  checkedClass='rentals-radio-checked' checked=countryCheck    label='Загородная'   onCheck=(action 'country')   }}
  </div>
      
  <div class="space35">
    <span>Тип: </span>
    {{#if livingCheck}}
      {{custom-dropdown options=livingOptions checked=livingChecked width="250px" commit=(action 'commit')}}
    {{/if}}
    {{#if newCheck}}
      {{custom-dropdown options=newOptions checked=newChecked width="250px" commit=(action 'commit')}}
    {{/if}}
    {{#if commericalCheck}}
      {{custom-dropdown options=commericalOptions checked=commericalChecked width="250px" commit=(action 'commit')}}
    {{/if}}
    {{#if countryCheck}}
      {{custom-dropdown options=countryOptions checked=countryChecked width="250px" commit=(action 'commit')}}
    {{/if}}
  </div>
  <div class="space35">
    <span>Район: </span>
    {{#unless countryCheck}}
      {{multiple-dropdown options=districtCity checked=districtCityChecked width="802px" commit=(action 'commit')}}
    {{else}}
      {{multiple-dropdown options=districtCountry checked=districtCountryChecked width="802px" commit=(action 'commit')}}
    {{/unless}}
  </div>
  
  
  <div class='rentals-sliders {{if commericalCheck 'h-0'}} {{if countryCheck 'h-0'}}'>
    <div class="space35">
      <span>Кол-во комнат:  &nbsp;  &nbsp; {{roomsMinValue}} - {{roomsMaxValue}}{{number-plus roomsMaxValue roomsMax}}</span>
      {{slider-range width="332px" min=roomsMin max=roomsMax minValue=roomsMinValue maxValue=roomsMaxValue step=1 commit=(action 'commit')}}
    </div>
    <div class="space35">
      <span>Общая площадь, м²: &nbsp;  &nbsp; {{areaMinValue}} - {{areaMaxValue}}{{number-plus areaMaxValue areaMax}}</span>
      {{slider-range width="332px" min=areaMin max=areaMax minValue=areaMinValue maxValue=areaMaxValue step=1 commit=(action 'commit')}}
    </div>
    <div class="space35">
      <span>Цена, млн. рублей:  &nbsp;  &nbsp; {{price-short-calm priceMinValue}} - {{price-short-calm priceMaxValue}}{{number-plus priceMaxValue priceMax}}</span>
      {{slider-range width="331px" min=priceMin max=priceMax minValue=priceMinValue maxValue=priceMaxValue step=50000 commit=(action 'commit')}}
    </div>
  </div>  

  <div class='rentals-sliders {{unless commericalCheck 'h-0'}}'>
    <div class="space35">
      <span>Общая площадь, м²:  &nbsp;  &nbsp; {{areaCommericalMinValue}} - {{areaCommericalMaxValue}}{{number-plus areaCommericalMaxValue areaCommericalMax}}</span>
      {{slider-range width="525px" min=areaCommericalMin max=areaCommericalMax minValue=areaCommericalMinValue maxValue=areaCommericalMaxValue step=1 commit=(action 'commit')}}
    </div>
    <div class="space35">
      <span>Цена, млн. рублей:  &nbsp;  &nbsp; {{price-short-calm priceCommericalMinValue}} - {{price-short-calm priceCommericalMaxValue}}{{number-plus priceCommericalMaxValue priceCommericalMax}}</span>
      {{slider-range width="525px" min=priceCommericalMin max=priceCommericalMax minValue=priceCommericalMinValue maxValue=priceCommericalMaxValue step=50000 commit=(action 'commit')}}
    </div>
  </div>  

  <div class='rentals-sliders {{unless countryCheck 'h-0'}}'>
    <div class="space35">
      <span>Общая площадь, м²: &nbsp;  &nbsp;  {{areaCountryMinValue}} - {{areaCountryMaxValue}}{{number-plus areaCountryMaxValue areaCountryMax}}</span>
      {{slider-range width="332px" min=areaCountryMin max=areaCountryMax minValue=areaCountryMinValue maxValue=areaCountryMaxValue step=1 commit=(action 'commit')}}
    </div>
    <div class="space35">
      <span>Площадь участка, м²:  &nbsp;  &nbsp; {{lotMinValue}} - {{lotMaxValue}}{{number-plus lotMaxValue lotMax}}</span>
      {{slider-range width="332px" min=lotMin max=lotMax minValue=lotMinValue maxValue=lotMaxValue step=1 commit=(action 'commit')}}
    </div>
    <div class="space35">
      <span>Цена, млн. рублей:  &nbsp;  &nbsp; {{price-short-calm priceCountryMinValue}} - {{price-short-calm priceCountryMaxValue}}{{number-plus priceCountryMaxValue priceCountryMax}}</span>
      {{slider-range width="331px" min=priceCountryMin max=priceCountryMax minValue=priceCountryMinValue maxValue=priceCountryMaxValue step=50000 commit=(action 'commit')}}
    </div>
  </div>

</div>


<div class="container">  
  <div class="text-center">Найдено {{results.length}} {{numerals-counter results.length 'предложение' 'предложения' 'предложений'}}</div>
  <ul class="results">
    {{#each results as |rental|}}
      <li>{{rental-listing rental=rental}}</li>
    {{/each}}
  </ul>
</div>
