<article class="listing block">
  <div class="image-container">
    {{#each rental.images as |image index|}}
      <img style='{{unless (eq slideIndex index) 'opacity: 0'}}' src="{{image.link}}"/>
    {{/each}}
    <div class="left-arrow"  {{action 'prevImage'}}></div>
    <div class="right-arrow" {{action 'nextImage'}}></div>
  </div>

  <div class="listing-row" style="height: 100%">
    <div class="listing-row">
      <div class="listing-column" style="margin-left: 25px; margin-right: 10px; width: 230px">
        <div style='overflow: auto; padding-left: 20px; margin-left: -20px'><span class="{{metro-logo rental.metro}}">{{rental.metro}}</span></div>
        {{#if rental.time_on_foot}}
          <div style='overflow: auto'><small><i>{{rental.time_on_foot}} мин пешком</i></small></div>
        {{else}}
          {{#if rental.time_on_transport}}
            <div style='overflow: auto'><small><i>{{rental.time_on_transport}} мин на транспорте</i></small></div>
          {{/if}}
        {{/if}}
        <div style='overflow: auto'><p class="text-14">{{rental.address}}</p></div>
      </div>
      <div class="listing-column" style="width: 160px">
        <span>{{{rental-category-rooms rental.category rental.rooms}}}</span><br>
        {{#if rental.floor}}
          <small>этаж &nbsp; {{rental.floor}}/{{rental.floors_total}}</small>
        {{/if}}
      </div>
      <div class="listing-column" style="width: 160px">
        <span class="text-20">{{price-short rental.price}} руб.</span><br>
        <small>{{{price-per-meter rental.price rental.area}}} руб./м²</small><br>
        <small>{{rental.deal_status}}</small>
      </div>
      <div class="listing-column text-right" style="width: 150px">
        <span class="text-24">{{dot-to-comma rental.area}} м²</span><br>
        <span class="text-14">{{{rental-category-area rental.category (dot-to-comma rental.living_space) (dot-to-comma rental.kitchen_space) (dot-to-comma rental.lot_area)}}}</span>
      </div>
    </div>
    <div class="listing-description fade">
      {{{rental.description}}}
    </div>
  </div>
  
  <div class="vertical-line"></div>

  <div class="listing-agent" style="text-align:right">
    <span>{{phone-formatting rental.agent.phone}}</span><br>
    <span>{{rental.agent.name}}<br>{{rental.agent.surname}}</span>
    <div style='position: absolute; bottom: 20px; right: 30px'>
      {{#link-to 'rental' rental}}
        <span>Подробнее</span>
      {{/link-to}}
    </div>
  </div>
</article>