<article class="listing">
  <img src="{{rental.image}}">

  <div class="listing-row" style="height: 100%">
    <div class="listing-row">
      <div class="listing-column" style="margin-left: 25px; width: 190px">
        <span class="{{metro-logo rental.metro}}">{{rental.metro}}</span><br>
        <small>{{rental.time_on_foot}} мин пешком</small><br>
        <span class="text-14">{{rental.address}}</span>
      </div>
      <div class="listing-column" style="width: 140px">
        <span>{{rental.rooms}} комнатная</span><br>
        <span>{{rental.category}}</span>
      </div>
      <div class="listing-column" style="width: 150px">
        <span class="text-20">{{price-short rental.price}} руб.</span><br>
        <small>{{price-per-meter rental.price rental.area}} руб./м²</small>
      </div>
      <div class="listing-column text-right" style="width: 110px">
        <span class="text-24">{{rental.area}} м²</span><br>
        <span class="text-14">кухня {{rental.kitchen_space}} м²</span><br>
        <span class="text-14">жилая {{rental.living_space}} м²</span>
      </div>
    </div>
    <div class="listing-description fade">
      {{rental.description}}
    </div>
  </div>
  
  <div class="vertical-line"></div>

  <div class="listing-agent">
    <span>Агент</span><br>
    <span>телефон</span>
    <br><br><br><br>
    <span>Подробнее</span>
  </div>
</article>