<div class="block rental-listing-index">
  <div class="image-container">
    {{#each rental.images as |image index|}}
      <img style='{{unless (eq slideIndex index) 'opacity: 0'}}' src="{{image.url}}"/>
    {{/each}}
    <div class="left-arrow"  {{action 'prevImage'}}></div>
    <div class="right-arrow" {{action 'nextImage'}}></div>
  </div>

  <div style='padding: 15px; margin-top: 200px'>
    {{rental.rooms}} комн. {{dot-to-comma  rental.area}} м²<br>
    {{rental.address}}<br>
    <b>{{number-spaces rental.price}} ₽</b>
    <div class="right">
      {{#link-to 'rental' rental}}
        Подробнее
      {{/link-to}}
    </div>
  </div>
</div>