<div class="block rental-listing-index">
  <div class="image-container">
    {{#each rental.images as |image|}}
      <img src="{{image.url}}"/>
    {{/each}}
    <div class="left-arrow"  {{action 'prevImage'}}></div>
    <div class="right-arrow" {{action 'nextImage'}}></div>
  </div>

  <div style='padding: 15px; margin-top: 200px'>
    {{rental.rooms}} комн. {{rental.area}} м²<br>
    {{rental.address}}<br>
    {{rental.price}} ₽
    <div class="right">
      {{#link-to 'rental' rental}}
        Подробнее
      {{/link-to}}
    </div>
  </div>
</div>