<div class="rentals-search">
  <div class="container-wide">
    <div class="rentals-radio-panel w1">
      <input type="radio" id="1" name="type" checked="checked" {{action 'unHide' preventDefault=false}}>
      <label class="left" for="1">Купить</label>
      <input type="radio" id="2" name="type" {{action 'Hide' preventDefault=false}}>
      <label class="right" for="2">Арендовать</label>
    </div>
    <div class="rentals-radio-panel w2 {{if isHidden "w4"}}">
      <input type="radio" id="3" name="property-type" checked="checked">
      <label class="left" for="3">Жилая</label>
      {{#unless isHidden}}
        <input type="radio" id="4" name="property-type">
        <label for="4">Новостройки</label>
      {{/unless}}
      <input type="radio" id="5" name="property-type">
      <label for="5">Коммерческая</label>
      {{#unless isHidden}}
        <input type="radio" id="6" name="property-type">
        <label class="right" for="6">Загородная</label>
      {{/unless}}
    </div>
  </div>
  <div class="space35">
    <span>Тип: </span>{{multiple-dropdown option=livingType width="200px"}}
  </div>
  <div class="space35">
    <span>Район: </span>{{multiple-dropdown option=District width="719px"}}
  </div>
  <div class="space35">
    <span>Кол-во комнат: {{roomsMin}} - {{roomsMax}}</span>
    {{slider-range width="294px" min=0 max=20 minValue=roomsMin maxValue=roomsMax step=1}}
  </div>
  <div class="space35">
    <span>Общая площадь: {{areaMin}} - {{areaMax}} м²</span>
    {{slider-range width="294px" min=0 max=500 minValue=areaMin maxValue=areaMax step=1}}
  </div>
  <div class="space35">
    <span>Цена: {{price-short-calm priceMin}} - {{price-short-calm priceMax}} млн. рублей</span>
    {{slider-range width="294px" min=0 max=60000000 minValue=priceMin maxValue=priceMax step=100000}}
  </div>
</div>