<article class="listing block">
  <div class="image-container">
    {{#each rental.images as |image|}}
      <img src="{{image.url}}"/>
    {{/each}}
    <div class="left-arrow"  {{action 'prevImage'}}></div>
    <div class="right-arrow" {{action 'nextImage'}}></div>
  </div>

  <div class="listing-row" style="height: 100%">
    <div class="listing-row">
      <div class="listing-column" style="margin-left: 25px; width: 190px">
        <span class="{{metro-logo rental.metro}}">{{rental.metro}}</span><br>
        <small><i>{{rental.time_on_foot}} мин пешком</i></small><br>
        <span class="text-14">{{rental.address}}</span>
      </div>
      <div class="listing-column" style="width: 140px">
        <span>{{{rental-category-rooms rental.category rental.rooms}}}</span>
      </div>
      <div class="listing-column" style="width: 150px">
        <span class="text-20">{{price-short rental.price}} руб.</span><br>
        <small>{{price-per-meter rental.price rental.area}} руб./м²</small>
      </div>
      <div class="listing-column text-right" style="width: 110px">
        <span class="text-24">{{rental.area}} м²</span><br>
        <span class="text-14">{{{rental-category-area rental.category rental.living_space rental.kitchen_space}}}</span>
      </div>
    </div>
    <div class="listing-description fade">
      {{rental.description}}
    </div>
  </div>
  
  <div class="vertical-line"></div>

  <div class="listing-agent" style="text-align:right">
    <span>{{rental.phone}}</span><br>
    <span>{{rental.name}}</span>
    <br><br><br><br>
    <span>Подробнее</span>
  </div>
</article>