<div class="block rental-listing-index">
  <div class="image-container">
    
    <img style='' src="{{rental.images.[0].link}}"/>
    
  </div>

  <div style='padding: 15px; margin-top: 166px'>
    {{rental.rooms}} комн. {{dot-to-comma  rental.area}} м²<br>
    <div style='width: 100%; height: 1.5em; overflow: hidden'>
      {{rental.address}}
    </div>
    {{number-spaces rental.price}} ₽
    <div class="right">
      {{#link-to 'rental' rental}}
        Подробнее
      {{/link-to}}
    </div>
  </div>
</div>