<div class="multiple-dropdown" style="width:{{width}}" {{action 'Collapse' on="mouseLeave" preventDefault=false}}>
  <div class="multiple-dropdown-field block" style="width:{{width}}" {{action 'toggleExpand' preventDefault=false}}>
    <div class="multiple-dropdown-checked" style="width:calc({{width}} - 5px)">
      {{#if (eq checked.length 0)}}
        {{any}}
      {{else}}
        {{checked}}
      {{/if}}
    </div>
  </div>
  <div class="multiple-dropdown-options {{unless isExpanded "hidden"}}" style="width: {{options-width}}">
    {{yield}}
  </div>
</div>

