{{index-search popup=(action 'popup3')}}

<div class="index-calc">
  <div class="container">
    <a {{action 'popup1'}}>Оценить объект</a>
    <a {{action 'toggleMortgage'}}>Рассчитать ипотеку</a>
    <button class="right w-300" {{action 'popup2'}}>Сопровождение сделки</button>
  </div>
</div>

<div class="index-mortgage {{if mortgageHidden "h-0"}}">
  <div class="container">
    {{mortgage-calc total=5000000 input=true}}
  </div>
</div>

<div class="index-about">
  <div class="container" style=''>
    <div style="width: 150px; height: 200px; float: left">
      <a href='/about'>
        <div class="logo-gradient" style="width: 100px; height: 76px; margin: 0 0 0 22px"><div class="logo-letter" style="width: 100px; height: 60px; bottom: -15px;"></div></div>
      </a>
    </div>
    <div style="width: 700px; padding-top: 30px; float: left">
      <p class="text-40">гентство недвижимости Адвокат</p>
      <p class="text-20">Основано в 1995 году.<br>
      Накопленный опыт работы позволяет решать любые вопросы<br>в сфере недвижимости.<br>
      На высоком профессиональном уровне, качественно.<br>
      Будем рады помочь всем в решении жилищных вопросов.</p>
    </div>
    <div style="width: 350px; float: left">
      {{index-feedback feedbacks=model.feedbacks}}
    </div>
  </div>
</div>

<div class="container">
  <div class="index-listing">
    {{#each model.rentals as |rental index|}}
      {{#if (less index 4)}}
        {{rental-listing-index rental=rental}}
      {{/if}}
    {{/each}}
  </div>
</div>

{{index-posts posts=model.posts}}

{{callback-form shown=showPopup1 title='Оценить объект' description='оставьте заявку, мы обязательно с Вами свяжемся'}}
{{callback-form shown=showPopup2 title='Сопровождение сделки' description='оставьте заявку, мы обязательно с Вами свяжемся'}}
{{callback-form shown=showPopup3 title='Оставить заявку' description='оставьте заявку, мы обязательно с Вами свяжемся'}}