{{index-search popup=(action 'popup3')}}

<div class="index-calc">
  <div class="container">
    <a {{action 'popup1'}}>Оценить объект</a>
    <a {{action 'toggleMortgage'}}>Рассчитать ипотеку</a>
    <button class="right" style='width:286px; margin-right: 2px' {{action 'popup2'}}>Сопровождение сделки</button>
  </div>
</div>

<div class="index-mortgage {{if mortgageHidden "h-0"}}">
  <div class="container">
    {{mortgage-calc total=5000000 input=true}}
  </div>
</div>

{{index-listing rentals=model.rentals}}

{{#if model.posts.length}}
  {{index-posts posts=model.posts}}
{{/if}}

{{callback-form shown=showPopup1 title='Оценить объект' description='оставьте заявку, мы обязательно с Вами свяжемся'}}
{{callback-form shown=showPopup2 title='Сопровождение сделки' description='оставьте заявку, мы обязательно с Вами свяжемся'}}
{{callback-form shown=showPopup3 title='Оставить заявку' description='оставьте заявку, мы обязательно с Вами свяжемся'}}