{{index-search}}

<div class="index-calc">
  <div class="container">
    <a {{action 'togglePopup'}}>Оценить объект</a>
    <a {{action 'toggleMortgage'}}>Рассчитать ипотеку</a>
    <button class="right w-300">Сопровождение сделки</button>
  </div>
</div>

<div class="index-mortgage {{if mortgageHidden "h-0"}}">
  <div class="container">
    {{mortgage-calc total=5000000 input=true}}
  </div>
</div>

{{callback-form shown=popup}}

<div class="index-about">
  <div class="container">
    <table>
      <tr>
      <td style="width: 115px">
        <a href='/about'>
          <div class="logo-gradient" style="width: 100px; height: 76px; margin-top: -197px; margin-left: 22px"><div class="logo-letter" style="width: 100px; height: 60px; bottom: -15px;"></div></div>
        </a>
      </td>
      <td style="width: 100%; padding-top: 30px">
        <p class="text-40">гентство недвижимости Адвокат</p>
        <p class="text-20">Основано в 1995 году.<br>
        Накопленный опыт работы позволяет решать любые вопросы<br>в сфере недвижимости.<br>
        На высоком профессиональном уровне, качественно.<br>
        Будем рады помочь всем в решении жилищных вопросов.</p><br><br><br><br><br>
      </td>
      <td style="width: 350px">
        
      </td>
      </tr>
    </table>
  </div>
</div>

<div class="container">
  <div class="index-listing">
    {{#each model as |rental index|}}
      {{#if (less index 4)}}
        {{rental-listing-index rental=rental}}
      {{/if}}
    {{/each}}
  </div>
</div>
