<div class='container'>
  <div class='block' style='margin-top: 15px; padding: 20px 40px'>
    {{#if session.isAuthenticated}}
      <button {{action 'logout'}}>Выйти</button>
    {{else}}
      <form {{action 'authenticate' on='submit'}}>
        {{input value=identification placeholder='Логин'}}
        {{input value=password       placeholder='Пароль'}}
        <button type='submit'>Войти</button>
      </form>
        {{identification}}
        Fail: {{errorMessage}}
    {{/if}}
  </div>
</div>