<div class="container">
  <div class="block" style="height: 650px; margin: 15px 0">
    <div style="width: 50%; float: left; padding: 15px 15px 0 15px">
      <p class="text-28 text-center">{{model.address}}</p>

      {{image-view images=model.images length=model.images.length}}
      
    </div>
    <div style="width: 50%; float: left; padding: 15px">
      <a></a>
      <input type=button name=print value="Print" onClick="window.print()"><br><br>
      {{model.price}} ₽<br>
      {{model.area}} м²<br>
      {{model.address}}<br><br>
      {{model.description}}
    </div>
  </div>
{{location-map location=(spb-address model.address)}}
{{mortgage-calc total=model.price}}
</div>

